body {
    margin: 0;
}

span, div {
    color: white;
    font-family: Lato, sans-serif;
    font-weight: lighter;
}

.modal-backdrop {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 50%;
    visibility: hidden;
}

.modal-backdrop[enabled] {
    visibility: visible;
}

.text-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.icon-button {
    transition: 0.2s;
}

.icon-button:hover {
    transform: scale(1.4);
}

.nav-container {
    align-self: start;
    position: sticky;
    top: 15px;
    width: 200px;
    padding: 30px 25px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    /*background: linear-gradient(#6f6f6f, #4f4f4f);*/
    /*border-radius: 5px;*/
    background: linear-gradient(0, hsla(0, 0%, 18%, 0.9), hsla(0, 0%, 12%, 0.9));
    border-radius: 5px;
    box-shadow: 6px 6px 4px #111111;
}

.filter-select-modal {
    z-index: 100;
    width: 200px;
    background: linear-gradient(#5f5f5f, #4f4f4f);
    padding: 20px;
    border: 2px inset #4f4f4f;
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    transition-property: transform;
    transform: translateX(-50%) translateY(-50%) scaleX(0) scaleY(0);
}

.filter-select-modal[opened] {
    visibility: visible;
    transform: translateX(0) translateY(0) scaleX(1) scaleY(1);
}

.tag-category-text {
    font-size: 1.2em;
    margin-top: 20px;
}

.tag-category-text:first-child {
    margin-top: 0;
}

.tag-select-flex {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /*row-gap: 4px;*/
}

.tag-select-modal-button {
    font-size: 0.9em;
    padding: 4px 7px 3px 6px;
    margin: 0px 3px;
    border: 2px outset #666666;
    background: linear-gradient(0, #2f2f2f, #4f4f4f, #328c36, #4bb469);
    background-size: 100% 300%;
    background-position-y: 99%;
    color: white;
    text-align: center;
    transition: background-position 0.1s linear, transform 0.1s ease-in-out;
    /* TODO */
}

.tag-select-modal-button[checked]:not([selected]) {
    border-left-color: #4bb469;
    border-left-width: 10px;
    transform: translateX(-5px) scaleX(1.05);
}

.tag-select-modal-button[selected],
.tag-select-modal-button[checked] {
    background: linear-gradient(0, #2f2f2f, #4f4f4f, #8c3232, #b44b4b);
    background-size: 100% 300%;
    background-position-y: 99%;
}

.tag-select-modal-button[selected] {
    transition: background-position 0.1s linear;
}

.tag-select-modal-button:hover {
    background-position-y: 0;
    cursor: cell;
    border-color: #29652b;
}

.tag-select-modal-button[checked]:hover {
    cursor: not-allowed;
    border-color: #652929;
}

.tag-select-modal-button[selected]:hover {
    cursor: not-allowed;
    border-color: #652929;
}

.basic-flex-column {
    display: flex;
    flex-direction: column;
}

.basic-flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flex-centered {
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.projects-flex {
    gap: 10px;
    margin-top: 50px;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.category-button {
    padding: 5px 10px 5px 9px;
    margin: 0px 5px;
    border-radius: 15px;
    border: 2px solid #888888;
    background: linear-gradient(0, #4f4f4f, #6f6f6f, #8f8f8f);
    background-size: 100% 200%;
    background-position-y: 50%;
    color: white;
    text-align: center;
    transition: background-position 0.1s linear;
}

.project-list {
    background: linear-gradient(0, hsla(0, 0%, 18%, 0.9), hsla(0, 0%, 12%, 0.9));
    border-radius: 5px;
    box-shadow: 6px 6px 4px #111111;
}

.project-button {
    font-size: 0.85em;
    padding: 2px 7px 2px 6px;
    margin: 0px 3px;
    border-radius: 3px;
    border: 2px outset #666666;
    background: linear-gradient(0, #2f2f2f, #4f4f4f, #6f6f6f);
    background-size: 100% 200%;
    background-position-y: 50%;
    color: white;
    text-align: center;
    transition: background-position 0.1s linear;
}

.category-button:hover,
.project-button:hover {
    background-position-y: 0;
    cursor: pointer;
}

.project-container {
    /*background: linear-gradient(0, #4f4f4f, #6f6f6f);
    border-radius: 3px;*/
    margin: 24px 32px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1.5fr 1fr 1.5fr auto auto;
    grid-template-areas:
        "pe-icon pe-title"
        "pe-icon pe-tags"
        "pe-icon pe-summary"
        "pe-body pe-body"
        "pe-buttons pe-buttons";
    grid-gap: 10px;
}

.project-entry-icon {
    grid-area: pe-icon;
    width: 96px;
    height: 96px;
}

.project-entry-title {
    grid-area: pe-title;
    font-size: 2em;
    text-align: left;
}

.project-entry-summary {
    grid-area: pe-summary;
    font-size: 0.9em;
    text-align: left;
    font-weight: normal;
    min-width: 40ch;
    max-width: 80ch;
}

.project-entry-body {
    grid-area: pe-body;
    font-size: 1.1em;
}

.description-body {
    text-wrap: normal;
    min-width: 40ch;
    max-width: 80ch;
}

.project-entry-tags {
    grid-area: pe-tags;
    display: flex;
    flex-direction: row;
}

.project-entry-tag {
    font-size: 0.75em;
    padding: 4px 7px 3px 6px;
    margin: 0px 3px;
    border-radius: 3px;
    border: 2px outset #666666;
    background: linear-gradient(0, #2f2f2f, #4f4f4f, #6f6f6f);
    background-size: 100% 200%;
    background-position-y: 50%;
    color: white;
    text-align: center;
    transition: background-position 0.1s linear;
}

.project-entry-tag:hover {
    background-position-y: 0;
    cursor: default;
}

.project-entry-buttons {
    grid-area: pe-buttons;
    justify-self: right;
}

.button-icon-before-text {
    margin-right: 2px;
    transform: scale(0.9);
}